<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Forgot Password</title>

    <!-- CSS -->
    <link href="../static/css/login.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" >
</head>
<body>
	<div class="loginbox">
		<div class="glass">
			<!-- <img src="../static/img/masjid.png" class="user"> -->
			<h2>Forgot your Password?</h2>
			<p class="p-forgot1">Enter your email address below and we’ll send you instructions to reset your password.</p>
			<form>
				<div class="inputbox">
					<input type="text" name="" placeholder="Email">
					<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
				</div>			    
				<input type="submit" name="" value="Request Reset Link" class="custom-btn">
			</form>
			<p class="p-forgot2">If you don't remember your email or haven't received a password reset link, please contact <a href="../templates/email.html">saya@gmail.com</a></p>
		</div>
	</div>
</body>
</html>